body {
    font-family: 'Playfair Display';
}

p {
    padding:5em;
    text-align:justify;
    position:inline;
}

/* SECTIONS */

#index {
    background-image:url(imgs/hands.jpg);
    background-size:cover;
    background-blend-mode:soft-light;
    background-color: rgba(156, 138, 138, 0.363);
}

#container {
    color:white;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:85%;
    margin: 0 8em;
}

h1 {
    font-size:4em;
    font-weight: bolder;
}

h2 {
    font-style: italic;
    line-height:3em;
 }

hr {
    width:75%;
 }

/* NAV */

.nav {
    display:flex;
    justify-content: center;
    font-size:25px;
    font-family: 'Playfair Display', sans-serif;
    list-style-type: none;
    text-transform: uppercase;
    font-weight:bold;
}

.nav a { 
    text-decoration: none;
    color: rgb(51, 42, 42);
    padding:10px;
    transition: .4s ease;
}

.nav li {
    display:inline;
}
/* ABOUT */

 /* MODAL BUTTON */

 .arrow { 
    font-weight:100;
    background-color:transparent;
    border-color:transparent;
 }

 .modal-header {
     display:flex;
     justify-content: center;
 }

 .modal-title {
    text-align: center;
    font-size:2em;
    text-transform: uppercase;
 }

 .lc {
     margin:0 25%;
     width:50%;
 }

 .bio {
     font-size:.8em;
     margin:0;
     padding:1em;
 } 

 .modal-content {
    width:100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    box-shadow: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0;
 }

 .modal-footer {
     display:flex;
     justify-content: space-evenly;
 }

 .modal-footer a {
     font-size:1.3em;
     color:black;
     transition: .4s ease;
 }

 .modal-footer a:hover {
     color:rgb(160, 155, 158);
 }


.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}

#title {
    color:rgb(255, 255, 255);
    text-align: center;
    background-color:rgb(97, 81, 81);
    width:100%;
    padding:1em;
    margin:0;
}

/* IMAGE GRID */

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.column {
    flex:50%;
    justify-content: center;
    max-width: 100%;
  }
  
.column img {
    vertical-align: middle;
    width: 100%;
    padding:5em;

  }
  


/* MEDIA QUERIES */

    /* TABLET */

    @media only screen and (max-width: 64em) {

        #index {
            background-position: 25%;
            justify-content: center;
            text-align: center;
            }

        #container {
            flex-direction: column;
            }

        h1 {
            font-size:7em;
            padding:0;
        }

        h2 {
            font-size:4em;
        }

        .modal-dialog {
            width:100%;
        }

        .modal-content {
            font-size:2.5em;
            width:auto;
        }

        #title {
            font-size:5em;
        }

                /* IMAGE GRID */

        .row {
            display: flex;
            flex-wrap: wrap;
        }
        
        .column {
            flex:50%;
            justify-content: center;
            max-width: 100%;
        }
        
        .column img {
            vertical-align: middle;
            width: 100%;
            padding:2em;

        }
  

    }
  
    /* MOBILE */
  
    @media only screen and (max-width:37.5em) {

        #index {
            background-position: 25%;
            justify-content: center;
            text-align: center;
            }

        #container {
            flex-direction: column;
            }

   
  
    }
  
  
