body {
    font-family: 'Playfair Display';
}

p {
    padding:5em;
    text-align:justify;
    position:inline;
}

/* SECTIONS */

#index {
    background-image:url(/hands.jpg);
    background-size: c;
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    background-color: #94868f86;
}

#container {
    color:white;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

h1 {
    font-weight: bolder;
    margin:.5em;
}

h2 {
    font-style: italic;
 }

 hr {
    width:75%;
 }

/* NAV */

nav ul {
    font-size:25px;
    font-family: 'Playfair Display', sans-serif;
    list-style-type: none;
    text-align:center;
    text-transform: uppercase;
    font-weight:bold;
}

nav a { 
    text-decoration: none;
    color: #463c48;
    padding:10px;
}

nav li {
    display:inline;
}

nav a:hover {
    background-color:#e0e0e0;
      -webkit-transition: 0.4s;
}

/* ABOUT */

 /* MODAL BUTTON */

 .arrow { 
    font-weight:100;
    justify-content: flex-end;
    background-color:transparent;
    border-color:transparent;
 }

 .modal-header {
     display:flex;
     justify-content: center;
 }

 .modal-title {
    text-align: center;
    font-size:2em;
    text-transform: uppercase;
 }

 .lc {
     border-radius: 1em;
     padding:.5em;
     height:50vh;
 }

 .bio {
     font-size:.8em;
     margin:0;
     padding:1em;
 } 

 .modal-content {
    width:100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    box-shadow: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0;
 }

 .modal-footer {
     display:flex;
     justify-content: space-evenly;
 }

 .modal-footer a {
     font-size:1.3em;
     color:black;
     transition: .4s ease;
 }

 .modal-footer a:hover {
     color:rgb(160, 155, 158);
 }

 .close {
    display:Flex;
 }


.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}

#title {
    color:rgb(255, 255, 255);
    text-align: center;
    background-color:rgb(97, 81, 81);
    width:100%;
    padding:2em;
    margin:0;
}

/* IMAGE GRID */

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
.column {
    flex:50%;
    justify-content: center;
    max-width: 100%;
  }
  
.column img {
    vertical-align: middle;
    width: 100%;
    padding:5em;

  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
